<!DOCTYPE html>
<html>
<head>
    <title>CBM Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<div class="sidebar">

    <div class="logo">
        <h2>⚙ CBM SYSTEM</h2>
        <p>Smart Monitoring</p>
    </div>

    <ul class="menu">
        <li>🏠 Dashboard</li>
        <li>⚙ Machines</li>
        <li>📊 Analytics</li>
        <li>🚨 Alerts</li>
        <li>🔧 Maintenance</li>
        <li>📄 Reports</li>
        <li>📅 Calendar</li>
    </ul>

</div>

<div class="main-content">

    <div class="topbar">

    <div>
        <h1>Condition Based Monitoring Dashboard</h1>
        <p>Real-Time Industrial Equipment Monitoring</p>
    </div>

    <div class="user-panel">
        🔔 3 Alerts
        &nbsp;&nbsp;&nbsp;
        👤 Admin
    </div>

    </div>

    <div class="cards">

        <div class="card">
            <h3>Machine Health</h3>
            <h2>92%</h2>
            <span>Excellent</span>
        </div>

        <div class="card">
            <h3>Active Machines</h3>
            <h2>18</h2>
            <span>Running</span>
        </div>

        <div class="card">
            <h3>Alerts</h3>
            <h2>3</h2>
            <span>Warning</span>
        </div>

        <div class="card">
            <h3>Efficiency</h3>
            <h2>96%</h2>
            <span>Optimal</span>
        </div>

    </div>

    <div class="chart-container">

        <h2>Machine Performance Trend</h2>

        <canvas id="myChart"></canvas>

    </div>

    <div class="alerts-section">

        <h2>Recent Alerts</h2>

        <table>

            <tr>
                <th>Machine</th>
                <th>Issue</th>
                <th>Status</th>
            </tr>

            <tr>
                <td>M-101</td>
                <td>High Vibration</td>
                <td class="warning">Warning</td>
            </tr>

            <tr>
                <td>M-205</td>
                <td>Overheating</td>
                <td class="critical">Critical</td>
            </tr>

        </table>

    </div>

</div>

<script>

const ctx = document.getElementById('myChart');

new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['10AM','12PM','2PM','4PM','6PM','8PM'],
        datasets: [{
            label: 'Temperature',
            data: [45,50,55,52,60,58]
        }]
    }
});

</script>

</body>
</html>
