<!DOCTYPE html>
<html>
<head>
    <title>CBM Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="sidebar">
    <div class="logo">
        <h2>⚙ CBM SYSTEM</h2>
        <p>Smart Monitoring</p>
    </div>

    <ul class="menu">
        <li>🏠 Dashboard</li>
        <li>⚙ Machines</li>
        <li>📊 Analytics</li>
        <li>🚨 Alerts</li>
        <li>🔧 Maintenance</li>
        <li>📄 Reports</li>
        <li>📅 Calendar</li>
    </ul>
</div>

<div class="main-content">

    <div class="header">
        <h1>Condition Based Monitoring Dashboard</h1>
    </div>

    <div class="cards">

        <div class="card">
            <h3>Machine Health</h3>
            <h2>92%</h2>
            <span>Excellent</span>
        </div>

        <div class="card">
            <h3>Active Machines</h3>
            <h2>18</h2>
            <span>Running</span>
        </div>

        <div class="card">
            <h3>Alerts</h3>
            <h2>3</h2>
            <span>Warning</span>
        </div>

        <div class="card">
            <h3>Efficiency</h3>
            <h2>96%</h2>
            <span>Optimal</span>
        </div>

    </div>

</div>

</body>
  </html>
