<!DOCTYPE html>
<html>
<head>
    <title>CBM Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Condition-Based Monitoring System</h1>

    <div class="card">
        <h2>Machine Status</h2>
        <p>Status: <b>Normal</b></p>
    </div>

    <div class="card">
        <h2>Temperature</h2>
        <p>45°C</p>
    </div>

    <div class="card">
        <h2>Vibration</h2>
        <p>0.3 mm/s</p>
    </div>

    <div class="card">
        <h2>Running Hours</h2>
        <p>100 Hours</p>
    </div>
</div>

</body>
</html>
